/* Root & Variables*/
:root {
    // Config Definition
    --padding-size: 1rem;
    --content-inline-max: 900px;
    --breakout-inline-max: 1200px;
    --outline-style: 3px dashed red;
    --sidebar-inline-size: 300px;
    --sidebar-animation-duration: 145ms;

    --theme-dark: rgb(7, 102, 173);
    --theme-light: rgb(243, 243, 243);

    --theme-green: rgb(167, 211, 151);
    --theme-white: rgb(245, 238, 200);

    --color-black: rgb(51 51 51);
    --color-white: rgb(51 51 51);

    --line-height: 1.7em;
    
    // -- Actual values use 
    --font-color: var(--color-black);
    --bg-color: var(--theme-light);

    --breakout-track-size: calc(
        (var(--breakout-inline-max) - var(--content-inline-max)) / 2
    )
}