@import 'root.scss';
@import 'layout.scss';

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

* {
    /*IMPORTANT: line-height should be in em units, while padding, margin should be in rem*/
    line-height: var(--line-height);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;

    & > header {
        --line-height: 1.7rem;
        line-height: var(--line-height);
        --font-color: var(--theme-light);
        color: var(--font-color);
        background: linear-gradient(to right, rgb(7, 102, 173), rgb(197, 232, 152));

        @media (min-width: 768px) {
            position: sticky;
            z-index: 1;
            top: 0;
        }

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > h2 {
                max-inline-size: 15rem;
            }

            & > button {
                user-select: none;
                transition: var(--sidebar-animation-duration);
                font-size: 1rem;
                z-index: 2;
                background-color: #666;
                color: aliceblue;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: 1000;
                box-sizing: border-box;
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 100%;
                position: fixed;
                right: 0;
                bottom: 0;

                @media (min-width: 768px) {
                    display: none;
                }

                &.show {
                    transform: translate(-50%);
                    inset: auto auto 0 30%;
                }
            }
            
            & > nav {
                transition: var(--sidebar-animation-duration);
                & > ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    gap: 1rem;
        
                    &>li {
                        text-transform: uppercase;

                        & > a {
                            padding: 1rem;
                            font-weight: 1000;
                            text-decoration: none;
                            position: relative;
                            display: block; 
                            z-index: 0;

                            &:visited {
                                color: initial;
                                text-decoration: none;
                            }

                            @media (min-width: 766px) {
                                &::after {
                                    content: '';
                                    inset: 0;
                                    z-index: -1;
                                    background-color: hsl(0 0% 100% / 0.7);
                                    transform: skewX(-15deg);
                                    position: absolute;
                                }
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    position: fixed;
                    z-index: 1;
                    inset: 0 0 0 30%;
                    background: hsl(0 0% 100% / 0.7);
                    backdrop-filter: blur(30px);
                    transform: translateX(100%);

                    &.show {
                        transform: translateX(0);
                    }


                    & > ul {
                        margin-top: 10vh;
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding: 0;
                        gap: 0;
                    }
                }
            }
        }
    }

    & > main {
        padding-block: 3rem;
    }

    & > footer {
        --font-color: var(--theme-light);
        color: var(--font-color);
        background: linear-gradient(to right, rgb(7, 102, 173), rgb(41, 173, 178));
    }
}



